.comment {
    padding-left: 5px;
    display: table
}

.comment.nested {
    border-left: 1px solid #000000;
}

.comment .vote, .comment .comment-body {
    display: table-cell;
}

.points {
    padding: 0 5px;
}

.github-mark {
    width: 16px;
}

.github-mark:hover {
    opacity: 0.5;
}